
.color{
    headerColor:#665e52;
    main-Color1:#c2b79b;
    main-Color2:#dad5b7;
    footer-Color1:#3a5f6f;
    footer-Color2:#243757
}

.principalMain{
    display: flex;
    background-color: whitesmoke;

}
.pgVendas{
    justify-content: space-around;
    flex-grow: 3;
    gap: 2vh;
    background-color: #dad5b7;
    max-width: 315px;
    height: auto;
    margin-top: 5px;
    margin: 2px;
    text-align: center;
    align-self: center;

}

.img 
img{
    display: flex;
    background-color:whitesmoke;
    border-radius: 10px 10px 0px 0px;
    background-image:auto;
    image-orientation:from-image;
    margin: 0px;
    width: 315px;
    height: 100px;
    z-index: 0;

}
.pratoList >li{
    display: flex;
    justify-content:flex-start;
    margin: 5px;
    color: #243757;
    font-size: 14px;

}
.fazerPedido >button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 128, 0, 0.953);
    width: 95%;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    color: whitesmoke;
    z-index: 1;

}
p{
    display: flex;
    justify-content: space-around;
    background-color:#665e52c4;
    color: whitesmoke;
    margin-top: -2;
    width: 100%;
    z-index: 1;
}
