*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sedgwick Ave Display', cursive;

}
.color{
    headerColor:#665e52;
    main-Color1:#c2b79b;
    main-Color2:#dad5b7;
    footer-Color1:#3a5f6f;
    footer-Color2:#243757
}
html
body
header
main
footer{
    flex-wrap: wrap; 
    position: relative; 
    justify-content: center;
    text-align: center;
    width:  100%;
    height:  100%;
    font-size: 14px;

}

/* config header*/
#nav{
    
    background-color: red;
    width: 100%;
    margin-top: -1;
}
ul{

    display:flex;
    background-color:#665e52;
    height: auto;
    
}
li{
    display: flex;
    flex-wrap: wrap;  
    width: 25vh;
    justify-content: space-around;
    margin: 1%;
    color: whitesmoke;
    width: 100%;
    height:10%;
}


/*config principal*/

.principalMain{
    display: flex; 
    justify-content: center;
    margin-top: 30px;
    margin-left: 25%;
    margin-right: 25%;
    align-items: center;
    text-align: center;
    flex-wrap: wrap; 
    text-align: center;
    row-gap: 1vh;
    column-gap: 1vh;
    
}
.produto{
    justify-content: space-around;
    flex-grow: 3;
    gap: 2vh;
    background-color: #dad5b7;
    width: 25vh;
    height: auto;
    margin-top: 5px;
    margin: 2px;
    text-align: center;
    align-self: center;

    
}
/* media, para orientar telas grandes e pequenas*/
@media (max-width:767px) {
    .principalMain{
        margin-left: 2px;
        margin-right: 2px;
    }
    
}

#footer{
    background-color: #243757;
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;  
    width: 100%;
    justify-content: space-around;
    height:10%;

}
#redesSociais{
    display: flex; 
    justify-content:flex-end;
    text-decoration: none;
    padding: 6px;
    margin: 0px;
    gap: 30px;
    z-index: 1;
}


